<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
  <table>
      <tr>
          
          <td>Name</td>
          <td><input type="text" name="name" value=""></td>
      </tr>
      <tr>
          
        <td>Price</td>
        <td><input type="text" name="price" value=""></td>
    </tr>
    <tr>
          
        <td>Quantity</td>
        <td><input type="text" name="name" value=""></td>
    </tr>
    <tr>
          
        
        <td><input type="submit"  value="Edit"></td>
    </tr>
  </table>
</form>
</body>
</html>